<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Review</title>
  </head>

  <body>
    <h1>Your account</h1>

    <table>
      <tr>
        <th style="text-align: left">Username:</th>
        <td>{{user.username}}</td>
      </tr>
    </table>

    <form action="logout/" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout" />
    </form>

    <h2>Your reviews</h2>
    <a href="/reviews/{{user.id}}/">View all given and received reviews</a>

    <h2>Send a review</h2>

    <form action="add/" method="POST" enctype="multipart/form-data">
      
      <!-- FIX: CSRF -->
      <!-- {% csrf_token %} -->

      To:
      <select name="to">
        {% for user in users %}
        <option value="{{user.username}}">{{user.username}}</option>
        {% endfor %}</select
      ><br />

      <textarea name="content" cols="40" rows="5"></textarea><br />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
